{% extends 'navbar.html' %} 
{% load static %}
{% block 'title' %}Edit Product{%endblock%}
{% block 'content' %}

<style>
    h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>

<h1>Edit Product: {{product.name}}</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" name="name" class="form-control"  aria-describedby="emailHelp" value="{{product.name}}">
    </div>
    
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" name="price" class="form-control"  aria-describedby="emailHelp" value="{{product.price}}">
    </div>
   
    <div class="mb-3">
      <label class="form-label">Image</label>
      <img src="{{product.image.url}}" alt="" width="200px" style="margin: 1rem;">
      <input type="file" class="form-control" name="image"  aria-describedby="emailHelp" value="{{product.image}}">
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" name="description" class="form-control"  aria-describedby="emailHelp" value="{{product.description}}">
    </div>
   
    <div class="mb-3 form-check">
      {% if product.in_stock %}
      <input type="checkbox" checked class="form-check-input" name="in_stock" id="exampleCheck1">
      {% else %}
      <input type="checkbox" class="form-check-input" name="in_stock" id="exampleCheck1">
      {% endif %}
      <label class="form-check-label" for="exampleCheck1">In Stock</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}

