{% extends 'navbar.html' %} {% load static %} {% block 'title' %}Create
Product{%endblock%} {% block 'content' %}

<style>
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .cnt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

<h1>Edit Category</h1>
<form method="post" action="" enctype="multipart/form-data">
  <div class="cnt">
    {% csrf_token %} {{form}}
    <input type="submit" value="Done" class="btn btn-primary" />
  </div>
</form>

<script src="{% static 'categories/js/script.js' %}"></script>
<script>
  const inputFields = document.querySelectorAll("input");
  inputFields.forEach((input) => {
    input.classList.remove("form-control");
  });
</script>
{% endblock %}
